.navbar__menu-icon::before{
    content: '\f13a';
    font-weight: 900;
    color: var(--nav-text);
    position: absolute;
}

.navbar__menu-icon::after{
    content: '\10f13a';
    font-weight: 900;
    color: var(--nav-text);
    opacity: 0.5;
}